NEXT_PUBLIC_SUPABASE_URL=https://gkwpjtbrecoesxyoybto.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_jKwUxJFLIjftocgmbwD4CA_2S-Is3y0
SUPABASE_SERVICE_ROLE_KEY=sb_secret_uR3OsUkq_RvZvT9sZXs3JQ_e3Flz_Iy
NEXT_PUBLIC_APP_URL=http://localhost:3000
