# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://gkwpjtbrecoesxyoybto.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Public application URL
NEXT_PUBLIC_SITE_URL=https://your-vercel-domain.vercel.app


# Payments
PAYMENT_PROVIDER=paymob
PAYMOB_BASE_URL=https://accept.paymob.com
PAYMOB_PUBLIC_KEY=
PAYMOB_SECRET_KEY=
PAYMOB_HMAC_SECRET=
PAYMOB_INTEGRATION_IDS=

# Shipping
SHIPPING_PROVIDER=manual
